.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 .btn-success {
  font-size: 16px !important;
}

.btn-primary {
  font-size: 16px !important;
  margin: 10px !important;
}

.date-picker {
  width: 350px;
}

.event-group textarea {
  display: inline-block;
  overflow: auto;
  margin-left: 10px;
  height: 50px;
  width: 330px;
  resize: none;
  text-align: center;
}

textarea {
  resize: none;
}

.event-group p {
  display: inline-block;
  vertical-align: bottom;
}

.saved-text {
  color: white;
  background-color: #282c34;
  border: none;
}

.saved-text:hover {
  border: 1px dashed blue;
  cursor: text;
}

#user-display {
  width: 100px;
  font-size: 25px;
}

.form-inline {
  margin-left: 70%;
}

#user-name {
  font-size: 18px !important;
}

.countdown-text {
  color: #343a40;
}

.timer-card {
  margin-left: 14%;
}

.accordion-countdown {
  margin-bottom: 40px;
}

#event-text {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
